SECRET_KEY=your_secret_key_here
NEXT_PUBLIC_SUPABASE_URL=https://eqleskggkqhbwdstlfru.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVxbGVza2dna3FoYndkc3RsZnJ1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjQ3ODk1NTksImV4cCI6MjA4MDM2NTU1OX0.kan36Ngkm7mJfvCfS4AXrT65f_6jI76Po3aWaoVm7m8
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVxbGVza2dna3FoYndkc3RsZnJ1Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NDc4OTU1OSwiZXhwIjoyMDgwMzY1NTU5fQ.cOzGvC3qS6HFDdY2SMas0zLIrCgcp5JGDF2gyYi9ywE
GROQ_API_KEY=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